<template>
  <section ref="container">
    <input-your-name @input="submitYourName"/>

    <v-container fluid v-for="item in items" :key="item.id">
      <v-row dense>
        <v-col cols="12">
          <speak-node :item="item"/>
        </v-col>
      </v-row>
    </v-container>
    <v-footer fixed app>
      <v-text-field ref="input" v-model="input" @keyup.enter="speak" hide-details single-line/>

      <v-btn icon @click="speak">
        <v-icon color="blue danken-2">mdi-send</v-icon>
      </v-btn>
    </v-footer>
  </section>
</template>

<script>
import * as firebase from 'firebase/app';
import InputYourName from '@/components/InputYourName.vue';
import SpeakNode from '@/components/SpeakNode.vue';
import SpeakItem from '@/components/speak-item';

export default {
  name: 'ChatPage',
  components: { SpeakNode, InputYourName },
  data() {
    return {
      input: '',
      name: '名無し',
      items: [],
    };
  },
  created() {
    this.$firebase = {
      db: firebase.firestore(),
    };
  },
  methods: {
    submitYourName(name) {
      this.name = name;
      this.refresh();
    },
    speak() {
      const node = {
        name: this.name,
        text: this.input,
        timestamp: firebase.firestore.FieldValue.serverTimestamp(),
      };

      const speaks = this.speaks();
      speaks.add(node);
      this.input = '';

      this.focusInput();
    },
    speaks() {
      const { db } = this.$firebase;

      return db.collection('speaks');
    },
    refresh() {
      const speaks = this.speaks().orderBy('timestamp');

      speaks.onSnapshot((snapshot) => {
        const items = snapshot.docs.map(doc => new SpeakItem(doc, this.name));

        this.update(items);
        this.scrollBottom();
      });

      this.focusInput();
    },
    update(items) {
      // eslint-disable-next-line no-restricted-syntax
      for (const item of items) {
        if (!this.items.some(i => i.id === item.id)) {
          this.items.push(item);
        }
      }
    },
    focusInput() {
      this.$refs.input.focus();
    },
    scrollBottom() {
      setTimeout(() => {
        const container = this.$refs.container; // eslint-disable-line prefer-destructuring
        const html = document.querySelector('html');
        html.scrollTop = container.scrollHeight;
      }, 100);
    },
  },
};
</script>

<style scoped>
</style>
