<template>
  <v-dialog v-model="visible" persistent>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        あなたのお名前
      </v-card-title>
      <v-card-text>
        <v-text-field ref="yourName" v-model="input" @keyup.enter="submit"
                      hide-details single-line/>
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-spacer/>
        <v-btn color="primary" text @click="submit" :disabled="disableSubmit">
          決定
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'InputYourName',
  data() {
    return {
      input: this.name,
      visible: true,
    };
  },
  mounted() {
    setTimeout(() => this.$refs.yourName.$refs.input.focus(), 100);
  },
  computed: {
    disableSubmit() {
      return !this.input;
    },
  },
  methods: {
    submit() {
      this.visible = false;
      this.$emit('input', this.input);
    },
  },
};
</script>

<style scoped>
</style>
