<template>
  <v-card class="d-inline-block mx-auto" :class="classes" :color="color" shaped dark>
    <v-card-text class="headline">{{ item.text }}</v-card-text>
    <v-card-actions>
      {{ item.timestamp }}
      <v-spacer style="min-width: 64px"/>
      {{ item.name }}
    </v-card-actions>
  </v-card>
</template>

<script>
import SpeakItem from '@/components/speak-item';

export default {
  name: 'SpeakNode',
  props: {
    item: SpeakItem,
  },
  computed: {
    color() {
      return this.item.yourSpeak ? 'primary' : 'gray';
    },
    classes() {
      if (this.item.yourSpeak) {
        return {
          'float-right': true,
          'text-right': true,
        };
      }
      return {
        'float-left': true,
        'text-left': true,
      };
    },
  },
};
</script>

<style scoped>
</style>
