<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Chat</span>
      </v-toolbar-title>
    </v-app-bar>

    <v-content>
      <chat-page/>
    </v-content>
  </v-app>
</template>

<script>
import ChatPage from '@/components/ChatPage.vue';

export default {
  name: 'App',
  components: {
    ChatPage,
  },
};
</script>
